.mat-form-field{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-size: 24px;
    font-weight: 300;
}

.icon{
    font-size: 35px;
    color: grey;
    left: 0;
    position: absolute;
}

.order{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
}

:host ::ng-deep{
    .mat-select-trigger{
        margin-top: 20px;
    }
    mat-select{
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0,0,0,.42);
    }
    .mat-select-value{
        text-align: center;
    }
    
}

::ng-deep .mat-select-panel{
    max-height: 300px !important;
    height: 100% !important;
}